@model IEnumerable<Laborator09.Models.ArticolModel>
@{
    ViewData["Title"] = "Articles by Category";
    string userRole = User?.Claims?.FirstOrDefault(claim => claim.Type == "Role")?.Value ?? "";
    string userId = User?.Claims?.FirstOrDefault(claim => claim.Type == "Id")?.Value ?? "0";
}

<h2>Articles in @ViewBag.Category</h2>

<p>
    <a asp-action="ByCategory" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sortOrder="@ViewBag.TitleSortParam">Sort by Title</a> |
    <a asp-action="ByCategory" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sortOrder="@ViewBag.DateSortParam">Sort by Date</a>
</p>

@if (Model.Any())
{
    <ul>
        @foreach (var articol in Model)
        {
            if (!articol.Restrictionat || userRole.ToLower() == "moderator" || userRole.ToLower() == "admin" || int.Parse(userId) == articol.AutorId)
            {
                <div class="card my-3">
                    <div class="card-body">
                        <h2><a asp-controller="Articol" asp-action="Articol" asp-route-articolId="@articol.Id">@articol.Titlu</a></h2>

                        @if (userRole.ToLower() == "moderator" || userRole.ToLower() == "admin")
                        {
                            <a class="btn btn-primary" asp-controller="Articol" asp-action="ModificaArticol" asp-route-articolId="@articol.Id">Modifica Articol</a>
                        }
                    </div>
                </div>
                <br />
            }
        }
    </ul>
}
else
{
    <p>No articles available in this category.</p>
}